p {
    margin: 0px;
}

.experiencechoice {
    display: inline-flex; 
    flex-direction: column; 
    text-align: center;
}

.experiencechoicecontainer {
    display: grid; 
    grid-template-columns: 100px auto;
    justify-content: left;
    align-items: center;
}